@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.home-background {
  background-image: url("/assets/home/background-home-desktop.jpg");
  background-size: cover;
  height: 100vh;
  max-width: 1600x;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

img {
  width: 48px;
  height: 48px;
  z-index: 2;
  position: relative;
}

.home-main-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 4.5rem;
}

.home-header-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  gap: 1rem;
}

.home-p1 {
  padding-right: 50px;
  font-size: 1.4rem;
}

.home-p2 {
  font-size: 7rem;
  letter-spacing: 1rem;
}

.home-sub-header {
  width: 50%;
  color: rgb(214, 208, 208);
}

.home-explore {
  background-color: white;
  color: black;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5rem;
  font-size: 50px;
}
